@charset "EUC-KR";

#main {
	marigin: 0 auto;
}
#loginIdHeader{
	display:none;
}
h1 {
	text-align: center;
	font-size: 53px;
}

#loginForm {
	width: 50%;
	margin: 30px auto;
	border: solid 1px #dae1e6;
	border-radius: 23px;
	display: inline-flex;
	flex-direction: column;
}

button:hover {
	cursor: pointer;
}

#id {
	width: 100%;
	height: 150px;
	background-color: white;
	text-align: center;
	
}

.text_id {
	width: 100%;
	height: 50px;
	margin: 5px auto;
	border: solid 1px #dae1e6;
}

#checkbox {
	height: 30px;
	text-align: center;
	margin_bottom: 15px;
	text-align: center;
}

.loginbutton {
	width: 100%;
	height: 70px;
	text-align: center;
}

#button_login {
	font-size: 20px;
	color: white;
	background-color: black;
	width: 100%;
	height: 50px;
}

.errorMessage {
	text-align: center;
}
#id_fc{
	display:flex;
}
#button_findid, #button_createid {
	width: 100%;
	height: 50px;
	border: solid 1px #dae1e6;
}

#kakao_login {
	width: 100%;
	height: 70px;
	
}

#button_kakaologin {
	font-size: 20px;
	color: black;
	background-color: yellow;
	width: 100%;
	height: 50px;
	border: solid 1px rgba(0, 0, 0, .15);
	margin-top: 10px;
}

#naver_login {
	width: 100%;
	height: 70px;
}

#button_naverlogin {
	font-size: 20px;
	padding: 13px 0 13px;
	color: white;
	background-color: #03C75A;
	border: solid 1px rgba(0, 0, 0, .15);
	width: 100%;
	height: 50px;
}

@media ( max-width : 800px) {
}