<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="org.sap.mapper.AdminMapper">

	<resultMap type="org.sap.model.ReplyDto" id="ReplyDto">
		<result column="rno" property="rno" />
		<result column="reply" property="reply" />
		<result column="bno" property="bno" />
	</resultMap>
	<resultMap type="org.sap.model.DeclareDto" id="DeclareDto">
	<result column="id" property="id"/>
	<result column="rno" property="rno"/>
	<result column="reason" property="reason"/>
	<result column="regdate" property="regdate"/>
	<collection property="reply" resultMap="ReplyDto"></collection>
	</resultMap>
	
	<select id="memberList" resultType="org.sap.model.MemberDto">
		select *
		from member
	</select>
	
	<select id="declareReplList" resultMap="DeclareDto">
		select *
		from declaration
		join board_reply
		on declaration.rno = board_reply.rno
		order by declaration.rno desc
	</select>
	
	<delete id="declareReplDelete">
		delete from declaration
		where rno=#{rno}
	</delete>
	<insert id="noticeWrite">
		insert into board(title, content, id, name, notice)
		values(#{title},#{content},#{id},#{name},#{notice})
	</insert>
	

		
</mapper>